<!DOCTYPE html>
<html>
  <head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Madlads!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="col-8 offset-2">
    <h1>Fill in the blanks to create some wicked cool madlibs!</h1>
    <form action="/madlib" method="post">
        <div class="form-group">
          <label for="exampleInputEmail1">Number</label>
          <input type="text" name="number" class="form-control" id="exampleInputEmail1"  placeholder="Number">
        </div>
      <div class="form-group">
        <label for="exampleInputPassword1">AdjectiveOne</label>
        <input type="text" name="adjectiveOne" class="form-control" id="exampleInputPassword1" placeholder="Adjective One">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">NounOne</label>
        <input type="text" name="nounOne" class="form-control" id="exampleInputPassword1" placeholder="Noun One">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">NounTwo</label>
        <input type="text" name="nounTwo" class="form-control" id="exampleInputPassword1" placeholder="Noun Two">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">AdjectiveTwo</label>
        <input type="text" name="adjectiveTwo" class="form-control" id="exampleInputPassword1" placeholder="Adjective Two">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">AdjectiveThree</label>
        <input type="text" name="adjectiveThree" class="form-control" id="exampleInputPassword1" placeholder="Adjective Three">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">PluralNounOne</label>
        <input type="text" name="pluralNounOne" class="form-control" id="exampleInputPassword1" placeholder="Plural Noun One">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">PluralNounTwo</label>
        <input type="text" name="pluralNounTwo" class="form-control" id="exampleInputPassword1" placeholder="Plural Noun Two">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">NounThree</label>
        <input type="text" name="nounThree" class="form-control" id="exampleInputPassword1" placeholder="Noun Three">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Verb</label>
        <input type="text" name="verb" class="form-control" id="exampleInputPassword1" placeholder="Verb">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    </div>
  </body>
</html>